.canvas {
    border: 1px black dotted;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    box-shadow: rgb(199, 198, 198) 3px 3px 3px;
    
}

.btn-circle {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 1.42857;
    font-size: 15px;
    color: white;
    opacity: 3;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    padding: 6px 0px;
    border-radius: 20px;
    background: rgb(255, 240, 0);
    transition: 0.4s ease-in-out;
    box-shadow: rgb(209, 207, 207) 3px 3px 3px;
}

#canvas-draft {
    background-color: transparent;
}

body {
    overflow: hidden;
}

#canvas-container {
    height: 600px;
}

.buttons {
    display:flex;
    justify-content:space-evenly;
    font-weight: 300;
    z-index: 1;
    padding-top: 40px;
    padding-bottom:40px;
    background:rgb(0,163,254);
    position:relative;
}
 
#drawing-rectangle span {
  max-width: 0;
  -webkit-transition: max-width 1s;
  transition: max-width 1s;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
    font-family:sans-serif;
     color:grey;
}
#drawing-rectangle:hover span {
  max-width: 8rem;
  color:grey;
  font-family:sans-serif;
  
  
}

#textbox span {
  max-width: 0;
  -webkit-transition: max-width 1s;
  transition: max-width 1s;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
    font-family:sans-serif;
     color:grey;
}
#textbox:hover span {
  max-width: 8rem;
  color:grey;
  font-family:sans-serif;
  
  
}

#drawing-circle span {
  max-width: 0;
  -webkit-transition: max-width 1s;
  transition: max-width 1s;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
    font-family:sans-serif;
     color:grey;
}
#drawing-circle:hover span {
  max-width: 8rem;
  color:grey;
  font-family:sans-serif;
  
  
}

#drawing-circle {
  transition: transform 1s;
}

#drawing-circle:hover {
 max-width: 8rem;
}


#drawing-freeform span {
  max-width: 0;
  -webkit-transition: max-width 1s;
  transition: max-width 1s;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
    font-family:sans-serif;
     color:grey;
}
#drawing-freeform:hover span {
  max-width: 8rem;
  color:grey;
  font-family:sans-serif;
  
  
}

#drawing-line span {
  max-width: 0;
  -webkit-transition: max-width 1s;
  transition: max-width 1s;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
    font-family:sans-serif;
     color:grey;
}
#drawing-line:hover span {
  max-width: 8rem;
  color:grey;
  font-family:sans-serif;
  
  
}


#drawing-straight-line span {
  max-width: 0;
  -webkit-transition: max-width 1s;
  transition: max-width 1s;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
    font-family:sans-serif;
     color:grey;
}
#drawing-straight-line:hover span {
  max-width: 8rem;
  color:grey;
  font-family:sans-serif;
  
  
}


#drawing-quad span {
  max-width: 0;
  -webkit-transition: max-width 1s;
  transition: max-width 1s;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
    font-family:sans-serif;
     color:grey;
}
#drawing-quad:hover span {
  max-width: 8rem;
  color:grey;
  font-family:sans-serif;
  
  
}


#erasing span {
  max-width: 0;
  -webkit-transition: max-width 1s;
  transition: max-width 1s;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
    font-family:sans-serif;
     color:grey;
}
#erasing:hover span {
  max-width: 8rem;
  color:grey;
  font-family:sans-serif;
  
  
}


#ClearAll span {
  max-width: 0;
  -webkit-transition: max-width 1s;
  transition: max-width 1s;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
    font-family:sans-serif;
     color:grey;
}
#ClearAll:hover span {
  max-width: 8rem;
  color:lightgrey;
  font-family:sans-serif;
  
  
}


#undo span {
  max-width: 0;
  -webkit-transition: max-width 1s;
  transition: max-width 1s;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
    font-family:sans-serif;
     color:grey;
}
#undo:hover span {
  max-width: 8rem;
  color:grey;
  font-family:sans-serif;
}

#redo{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


#rightDiv{
    background: rgb(143, 240, 143);
    box-shadow: rgb(196, 193, 193) 5px 5px 5px;
    color:white;
    font-family: sans-serif;
   position:relative;
   padding-right:50px;
    padding-bottom:20px;
    padding-top:20px;
}

#rightDiv p{
    padding-top:20px;
    letter-spacing: 2px;
    font-weight:800;
}

#canvas-container{
  display:flex;
  height:85%
}

#rightDiv img{
  padding-top:30px;
  width:22vw;
  height:auto;
  position:relative;
  padding-left:10px;
}